rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    match /users/{userId} {
      allow read: if request.auth.uid == userId 
              || (exists(/databases/$(database)/documents/users/$(request.auth.uid)) 
                  && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.teamId != null 
                  && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.teamId == get(/databases/$(database)/documents/users/$(userId)).data.teamId)
              || isAdmin();
      allow create: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId;
      allow delete: if isAdmin();
    }

    match /teams/{teamId} {
      allow read: if request.auth.uid == resource.data.creatorUid 
                  || (exists(/databases/$(database)/documents/users/$(request.auth.uid)) 
                      && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.teamId == teamId)
                  || isAdmin();
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == resource.data.creatorUid 
                    || (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.teamId == teamId)
                    || isAdmin();
      allow delete: if request.auth.uid == resource.data.creatorUid || isAdmin();
    }
    
    match /submissions/{submissionId} {
      allow read, update: if get(/databases/$(database)/documents/teams/$(submissionId)).data.creatorUid == request.auth.uid || isAdmin();
      allow create: if request.auth.uid != null;
      allow delete: if isAdmin();
    }

    match /announcements/{announcementId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    
    match /categories/{categoryId} {
        allow read: if true;
        allow create, update, delete: if isAdmin();
    }

    match /themes/{themeId} {
        allow read: if true;
        allow create, update, delete: if isAdmin();
    }

    match /counters/{counterId} {
      allow read, write: if request.auth.uid != null; 
    }
  }
}
